body {
    background-color: rgb(211, 244, 243);
    text-align: center;
}
table, th, td {
    border: 2px solid rgb(0, 0, 0);
    text-align: center;
    
  }
  
  table {
    width: 100%;
  }

  th {
    padding: 5px;
    background-color: rgb(4, 242, 214);
}
tr {
    text-align: center;
    vertical-align: middle;
    background-color: rgb(137, 219, 200);
}
#buttonEdit, #btnEdit {
    background-color: rgb(114, 238, 82);
}
#buttonExc {
    background-color: red;
}
  
